<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭医生健康管理系统</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.0/gsap.min.js"></script>
</head>
<body>
<!--  -->
  <div id="main">
    <h1>FamilyDoctor</h1>
    <div class="content">
    </div>
    <div class="buttons">
        <button class="next" onclick="go(-1)"></button>
        <button class="prev" onclick="go(1)"></button>
    </div>
  </div>
  <div id="btn_index">
    <a href="/login" class="custom-btn btn-12"><span>Welcome!</span><span>登录账号</span></a>
    <a href="/regist" class="custom-btn btn-12"><span>Welcome!</span><span>注册账号</span></a>
  </div>

<script src="../static/js/index.js"></script>

</body>
</html>